.container-navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  align-self: center;
}

.title-navbar {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.nav-menu {
  display: flex;
}

.li-menu {
  margin-left: 30px;
  font-size: 17px;
  color: white;
}

.active {
  padding-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-color: white;
  border-bottom-style: solid;
}